.event-headline{
  display: inline;
}
.event1{
  height: 364px !important;
  width: 250px !important;
  background-size: cover;
  margin: auto;
  margin-top: 50px;
}
.event2{
  height: 364px !important;
  width: 250px !important;
  background-size: cover;
  margin: auto;
  margin-top: 50px;
}
#backbtn{
  position: relative;
  bottom: 370px;
  left: 210px;
  height: 40px;
  width: 40px;
}
#nextbtn{
  position: relative;
  bottom: 410px;
  left: 260px;
  height: 40px;
  width: 40px;
}
.back2menu{
  font-size: 40px;
}
