.qr-container{
  height: 380px !important;
  width: 230px !important;
  background-size: cover;
  position: relative;
  right: 20px;
}
.flummihead{
  background-size: cover;
  width: 260px !important;
  position: relative;
  right: 30px;
  top: -50px;
}
.burgermenu{
  height: 50px !important;
  width: 50px !important;
  background-size: cover;
  position: relative;
  left: 200px;
  top: -100px;
}
.qr-container2{
  margin-top: 20px;
  height: 275px !important;
  width: 230px !important;
  background-size: cover;
  position: relative;
  right: 20px;
}
