$primary-color: whitesmoke;
$main-font: "Helvetica Neue", Helvetica, Arial, sans-serif;

html{
  height:100%;
}

body{
    background-color: white;
    font-family: $main-font;

}
.main{
    display: block;
    margin: auto;
    position: relative;
    top: 100px;
}
.content{
  margin: auto;
  width: 195px;
  text-align: center;
}
h2{
  font-size: 18px;
}
.content div{
  padding: 10px;
  width: 184px;
  height: 14px;
  background-color: white;
  cursor: pointer;
  &:hover{
    background-color: lightgray;
    transition: background-color 0.3s;
  }
}

.vermieterBtn{
margin-top: 20px;
background-size: cover;
}
.mieterBtn{
background-size: 170px 40px;
width: 151px !important;
margin-left: 15px;
}
